.nav-link{
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.title{
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.bg-image1 {
  background-color: #016064;
}
h3{
  font-size: 14px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  color: rgb(255, 250, 253);
  font-family: 'Roboto',sans-serif;
}
h1{
  font-size: 30px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  font-family: 'Kaushan Script',cursive;
  font-weight: 400;

}
h2{
  font-size: 22px;
  color: white;
  font-family: 'Kaushan Script',cursive;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  
}
.card{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10%;
  
}
.bg-image2 {
 background-color: #8e8e8e;
}
#p1{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}
.btn1{
  margin-top: 10%;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.btn2{
  margin-top: 10%;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
#p2{
  text-align: center;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}
.btn3{
  margin-top: 20%;
  margin-bottom: 50%;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.btn4{
  margin-top: 20%;
  margin-bottom: 50%;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.bg-image3 {
  background-color: #016064;
}
#p3{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}
#p4{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}
#p5{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
}
.nav-bg{
  background-color: #016064;
}