
.navbar-brand, .nav-link{
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
}
.title{
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
}
.bg-image1 {
  background-color: #016064;
}
h3{
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 25px;
  color: rgb(255, 250, 253);
  font-family: 'Roboto',sans-serif;
}
h1{
  font-size: 30px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  font-family: 'Kaushan Script',cursive;
  font-weight: 400;

}
h2{
  font-size: 22px;
  color: white;
  font-family: 'Kaushan Script',cursive;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card{
  width:80%;
  margin-right: 10%;
  margin-bottom: 20%;
  
}
.bg-image2 {
 background-color: #8e8e8e;
 padding-top: 50px;
 padding-bottom: 70px;
}
#p1{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
}
.btn1{
  margin-left: 30%;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.btn2{
  margin-left: 20px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.card{
  width: 100%;
  margin-right: 10%;
}
#p2{
  text-align: center;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 30px;
}
.btn3{
  margin-left: 30%;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.btn4{
  margin-left: 20px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.bg-image3 {
  background-color: #016064;
  padding-top: 50px;
  padding-bottom: 70px;
}
#p3,#p4,#p5{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-bg{
  background-color: #016064;
}
.lastsec{
  padding-top: 10px;
}